.productivity-settings {
	margin-top: 0.25rem;
	display: flex;
	flex-direction: column;
}

.productivity-settings > .MuiIconButton-root {
	align-self: flex-start;
}

.productivity-settings > .MuiAutocomplete-root {
	min-width: 16ch;
}
