html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

input {
    margin: 0.25rem;
    zoom: 1.25;
}

.options-container {
    height: 100%;
    max-width: 120ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    font-size: 18px;
    align-self: center;
}

.auto-deduplicate-block {
    margin: 0.25rem 0;
}

.auto-prune-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.auto-prune-bookmark {
    display: flex;
    align-items: center;
}

.prune-options-logo {
    width: 12rem;
    max-width: 100%;
    padding-bottom: 1rem;
    align-self: flex-start;
}

#prune-threshold-input {
    min-width: 2rem;
}

.auto-group-name-label {
    margin: 0.25rem;
}

#auto-group-name {
    max-width: 12ch;
}

.corner {
    margin-right: 0.5rem;
}

.tip-holder {
    position: relative;
}

.tip-input {
    max-width: 6ch;
    padding-left: 2ch;
}

.tip-currency {
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 1ch;
}

#tip-button {
    zoom: 1.25;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    background: #0175ff;
    color: #fff;
    border-radius: 2px;
    border-color: #000;
    border-width: 1px;
}

#tip-button:hover {
    background: #005fd0;
    cursor: pointer;
}

#tip-button.loading {
    background-color: #f8f8f8;
    border-color: #d4d4d4;
    border-style: solid;
    cursor: progress;
    pointer-events: none;
}

.tip-button-container {
    position: relative;
}

#tip-button.loading > .tip-button-container {
    visibility: hidden;
}

#tip-button-spinner {
    visibility: hidden;
}

#tip-button.loading #tip-button-spinner {
    visibility: visible;
}