html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.75px;
}

input, select {
    margin: 0.25rem;
    padding: 0.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.75px;
}

input:focus, select:focus {
    margin-bottom: calc(0.25rem - 1px);
    border-bottom: 2px solid #0175ff;
    background-color: #ddecff;
}

input[type=text] {
    padding-bottom: 0.5rem;
}

input[type=checkbox] {
    zoom: 1.25;
}

select:disabled, input:disabled {
    color: #a6a6a6;
    background-color: #eee;
    border-bottom: 1px solid #a6a6a6;
}

.options-container {
    max-width: 120ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    align-self: center;
    min-width: 64ch;
}

.auto-deduplicate-block {
    margin: 0.25rem 0;
}

.auto-prune-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.auto-prune-bookmark {
}

.prune-options-logo {
    width: 12rem;
    max-width: 100%;
    align-self: flex-start;
    padding: 1rem;
}

#prune-threshold-input {
    min-width: 2rem;
}

.auto-group-name-label {
    margin: 0.25rem;
}

#auto-group-name {
    max-width: 12ch;
}

.corner {
    margin-right: 0.5rem;
}

.tip-holder {
    position: relative;
}

.tip-input {
    max-width: 6ch;
    padding-left: 2ch;
}

.tip-input:focus {
    background-color: hsl(213deg 100% 89%);
}

.tip-currency {
    position: absolute;
    width: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0.5ch;
}

#tip-button {
    padding: 0.25rem 1.5rem;
    background: #0175ff;
    color: #fff;
    border: none;
    border-bottom: 1px solid black;
    border-width: 1px;
    margin-left: 0.5rem;
    font-size: 1rem;
}

#tip-button:hover {
    background: #005fd0;
    cursor: pointer;
}

#tip-button.loading {
    background-color: #f8f8f8;
    border-color: #d4d4d4;
    border-style: solid;
    cursor: progress;
    pointer-events: none;
}

.tip-button-container {
    position: relative;
}

#tip-button.loading > .tip-button-container {
    visibility: hidden;
}

#tip-button-spinner {
    visibility: hidden;
}

#tip-button.loading #tip-button-spinner {
    visibility: visible;
}

.prune-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.new-icon {
    border: 1px solid #767676;
    padding: 0 4px;
    background-color: #ffeb3b;
    border-radius: 2px;
    width: fit-content;
    margin-right: 0.25rem;
    display: inline-block;
}

.support-the-dev-container {
    margin-bottom: 0;
    padding: 1rem 1.25rem;
    background-color: #eee;
}

@media(max-height: 600px) {

    html {
        height: initial;
    }

    body {
        height: initial;
    }

    .prune-options-logo {
        padding-bottom: 0;
    }
}
