html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

input {
    margin: 0.25rem;
    zoom: 1.25;
}

.options-container {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    max-width: 120ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    font-size: 18px;
    align-self: center;
}

.auto-deduplicate-block {
    margin: 0.25rem 0;
}

.auto-prune-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.auto-prune-bookmark {
    display: flex;
    align-items: center;
}

.prune-options-logo {
    width: 12rem;
    max-width: 100%;
    padding-bottom: 1rem;
    align-self: flex-start;
}

#prune-threshold-input {
    min-width: 2rem;
}

.auto-group-name-label {
    margin: 0.25rem;
}

#auto-group-name {
    max-width: 12ch;
}

.corner {
    margin-right: 0.5rem;
}