#root {
	display: flex;
	justify-content: center;
}

.content-script {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
}

.app {
	width: 620px;
	display: flex;
	justify-content: center;
}
