@media screen and (max-width: 500px) {
	body {
		margin: 1rem;
	}

	.MuiFormGroup-root.main-form-group {
		border: none;
		box-shadow: none;
		padding: 0;
		margin: 0;
		overflow-x: auto;

		&.options-form-group {
			padding-left: 0;
		}
	}

	.MuiTypography-root.section-title {
		padding: 1rem 0 0 0 !important;
		margin: 0 !important;
	}

	span.MuiCheckbox-root {
		margin-left: -11px;
	}

	.form-option-with-subgroup>label.sub-checkbox {
		margin-left: 1.5rem;
		padding-left: 1rem;
	}

	div.main-form-group>.form-option {
		flex-wrap: nowrap;
		max-width: unset;
	}
}

#root {
	display: flex;
	justify-content: center;
}

body {
	padding-right: 0 !important;
	background-color: white;
}

.app {
	display: flex;
	justify-content: center;
	max-width: 100%;
}

.main-form-group {
	border: 2px solid;
	box-shadow: -8px 8px 0 0px #000;
	margin: 0 32px 32px;
	padding: 16px;
	max-width: fit-content;
}

.main-form-group.options-form-group {
	max-width: 100%;
	padding-left: 6px;
}

.main-form-group>.form-option {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
}

.form-option.lru-options {
	padding-left: 0;
}

.form-option>.lru-options-control {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.prune-header-container {
	padding: 16px;
}

.MuiTypography-root.section-title {
	margin-left: 40px;
	background-color: rgb(255, 255, 255);
	margin-bottom: -22px;
	z-index: 2;
	position: relative;
	padding: 0 8px;
	width: fit-content;
	font-size: 32px !important;
}

.MuiFormGroup-root>.form-option:first-child {
	margin-top: 8px;
}