.MuiAccordionSummary-root.advanced-settings-summary {
    padding: 0 0 0 7px;
}

.MuiAccordionDetails-root.advanced-settings-details {
    padding: 0;
}

.advanced-settings-details>.form-option {
    margin-bottom: 8px;
}

.advanced-settings-details>.form-option>.MuiAutocomplete-root {
    padding-left: 30px;
    padding-right: 12px;
}