.MuiAccordionSummary-root.advanced-settings-summary {
    padding: 0 0 0 8px;

    & > .MuiAccordionSummary-expandIconWrapper {
        min-width: 24px;
        justify-content: center;

        & > p {
            display: flex;
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */

            & > span {
                display: inline-block;
                font-size: inherit;
                line-height: normal;
                transform-origin: center;
            }
        }
    }
}

.MuiAccordionDetails-root.advanced-settings-details {
    padding: 0;
}

.advanced-settings-details>.form-option {
    margin-bottom: 8px;
}

.advanced-settings-details>.form-option>.MuiAutocomplete-root {
    padding-left: 30px;
    padding-right: 12px;
}