@media screen and (max-width: 500px) {
    .MuiGrid-root.prune-header {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        &>.link-section {
            display: none;
        }
    }
}

.prune-header {
    &>svg {
        width: 200px;
    }
}