div.tip-form-group {
	flex-direction: row;
	gap: 1rem;
}

.tip-form-group>.MuiFormControl-root {
	margin: 0;
}

.tip-number-input {
	padding: 4px 14px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.5);
}

.tip-button-group>.tip-button {
	border: 1px solid;
	border-left: none;
	border-color: rgba(0, 0, 0, 0.5);
}