.main-form-group {
	border: 2px solid;
	box-shadow: -8px 8px 0 0px #000;
	margin: 0 2rem 2rem;
	padding: 1rem;
}

.main-form-group > .form-option {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.form-option.lru-options {
	padding-left: 0;
}

.form-option > .lru-options-control {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.prune-header-container {
	padding: 1rem;
}

.MuiTypography-root.section-title {
	margin-left: 2.5rem;
	background-color: rgb(255, 255, 255);
	margin-bottom: -22px;
	z-index: 2;
	position: relative;
	padding: 0 0.5rem;
	width: fit-content;
	font-size: 2rem;
}

.MuiFormGroup-root > .form-option:first-child {
	margin-top: 0.25rem;
}
